# ignore standard python junk
*.pyc
*.egg-info
.Python
# ignore virtualenv directories
/bin
/lib
/include
/src
# place to dump temporary junk
/tmp
/eggs
# ignore generated environment config
esmond.env
.env
/devel
/docs/_build
/esmond_client/build
/esmond_client/dist
.DS_Store
*.swp
*.py.orig
*.pickle
util/configure_cluster.orig
pysqlite2-doc/install-source.txt
/crashlog
.coverage
# sublime
*.sublime-project
*.sublime-workspace
# Quilt cache directory
.pc/
