Source: esmond
Section: net
Priority: optional
Maintainer: perfSONAR developers <debian@perfsonar.net>
Uploaders: Antoine Delvaux <antoine.delvaux@man.poznan.pl>
Build-Depends: debhelper (>= 10), dh-python, python3-all, python3-setuptools
X-Python3-Version: >= 3.5
Standards-Version: 3.9.8
Vcs-Git: git://github.com/esnet/perfsonar.git
Vcs-Browser: https://github.com/esnet/perfsonar.git

Package: esmond
Architecture: all
Depends: apache2, libapache2-mod-wsgi-py3, ssl-cert, postgresql,
 memcached, cassandra, ucf (>= 0.28), python3-pkg-resources,
 python3-requests, python3-mimeparse, python3-psycopg2, python3-memcache,
 python3-webpy, adduser, dbconfig-common, python3-django (>= 1.11.20),
 python3-pycassa, python3-django-netfields,
 python3-djangorestframework (>= 3.4.0~),
 python3-djangorestframework-filters (>= 0.10.1),
 python3-djangorestframework-extensions (>= 0.3.1~),
 python3-django-tastypie (>= 0.12.2), libjs-jquery,
 ${python3:Depends}, ${misc:Depends}
Description: ESnet Monitoring Daemon
 Esmond is a system for collecting and storing large sets of time-series data.
 Esmond uses a hybrid model for storing data using TSDB for time series data and
 an SQL database for everything else. All data is available via a REST style
 interface (as JSON) allowing for easy integration with other tools.
